<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Social buttons -->
      <!-- <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
            <a type="button" href="https://www.facebook.com/people/Sunny-Kumar/100004064536088" class="btn-floating btn-lg btn-fb"><i class="fa fa-facebook round"></i></a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1">
            <i class="fa fa-twitter"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-gplus mx-1">
            <i class="fa fa-google-plus"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-li mx-1">
            <i class="fa fa-linkedin"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-dribbble mx-1">
            <i class="fa fa-dribbble"> </i>
          </a>
        </li>
      </ul> -->


      <div class="wrapper">
        <ul class="social-icons icon-circle icon-zoom list-unstyled list-inline"> 
        <li> <a href="https://www.facebook.com/people/Sunny-Kumar/100004064536088"><i class="fa fa-facebook"></i></a></li> 
        <li> <a href="https://www.linkedin.com/in/sunny-kumar-138a99125/"><i class="fa fa-linkedin"></i></a></li> 
        
        <li> <a href="https://github.com/sunnykumar4494"><i class="fa fa-github"></i></a></li>
        <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
        
        </ul>
        </div>
      <!-- Social buttons -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/bootstrap-tutorial/"> SunnyKumar</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->