 
 
.search {
    background-color: white;
    margin-left: -12%;
    border:none;
     
 
  }
  
  .input:focus {
    outline: none;
  }
  .search:hover {
    cursor: pointer;
     outline: none;
  }

  .headerInput
{
  border-radius: 17px;
 
    margin-right: -5%;
}


.btn-outline-success {
  color: #28a745;
  background-color: white;
  background-image: none;
  border-color: lightgray;
  border-radius: 0px 15px 15px 0px;
}


/*css for extra small screens*/
@media only screen and (min-width : 320px) {
  .headerInput
{
  border-radius: 17px;
 
    margin-right: 0%;
}

.search {
   
  margin-left: 0%;
   
  
  border-color:5px solid lightgray;
  border-radius:2px;
  width:30%;
  border: 1px solid lightgray;
  border-radius: 16px !important;
}
}